/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--main-font-family);
  font-variation-settings: 'wdth' var(--main-wdth);
  background-color: var(--bckg-color);
  color: var(--text-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bckg-image);
  background-size: cover;
  background-attachment: fixed;
}

/* Секция header */

.header {
  font-family: var(--accent-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--header-bckg);
  margin: 100px auto 100px;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  padding-block-start: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
  text-transform: uppercase;
  line-height: 1;
  border: 2px solid var(--border-color);
}

.header__tittle {
  font-size: var(--header-fsz);
  margin-block-end: 20px;
}

.header__subtittle {
  font-size: var(--text-fsz);
  margin-block-end: 25px;
}
/* Секция navigation */

.theme-menu {
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  display: flex;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: relative;
}

.translate-auto {
  translate: -4px;
}

.translate-light {
  translate: 9px;
}

/* animation */

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  position: absolute;
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 2px;
  margin-block-start: 13px;
  background-color: currentColor;
  transition: scale 0.3s ease;
  scale: 0;
} 

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: '▶';
  inline-size: 14px;
  block-size: 14px;
  /* margin-inline-start: -16px; */
  translate: -20px;
  animation: pointer infinite 0.5s ease-in-out alternate;
}

/* Секция main */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.card {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  background-color: var(--header-bckg);
  border: 2px solid var(--border-color);
}

.card__tittle {
  font-size: 18px;
  border-block-end: 2px solid var(--border-color);
  padding: 4px 10px 5px;
  font-weight: var(--accent-wdth);
}

.card__image {
  border-block-end: 2px solid var(--border-color);
  position: relative;
}

.card__label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, -0.0529rem + 3.6923vw, 1.5625rem);
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 1;
  color: var(--text-color);
  mix-blend-mode: hard-light;
}

.label-shadow {
  text-shadow: 0px 0px 1px var(--text-shadow);
  opacity: 0.5;
}

@supports((text-stroke: 1px var(--text-shadow)) or (-webkit-text-stroke: 1px var(--text-shadow))) {
  .label-shadow {
    -webkit-text-stroke: 1px var(--text-shadow);
    text-stroke: 1px var(--text-shadow);
    text-shadow: none;
  }
}

.card__image-car {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.card__description {
  padding: 25px;
  font-size: 18px;
  font-weight: var(--main-wdth);
  line-height: 117%;
}

.card__description p:not(:last-of-type) {
  margin-block-end: 27px;
}

.card__footer {
  margin-block-start: 25px;
  display: flex;
  justify-content: end;
  gap: 7px;
}

.card__icon-button, .card__like-button, .button__floopy {
background-color: transparent;
border: none;
}

.card__icon-button {
  padding: 0;
  block-size: 38px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  border: 2px solid var(--border-color);
}

.button__text {
  font-size: 14px;
  font-family: var(--accent-font-family);
}

/* Секция footer */

.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 50px;
  margin-block-end: 103px;
}

.button__floopy {
  block-size: 55px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--bckg-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
}

.button__floopy-icon {
  inline-size: 21px;
} 

@media (width <= 375px) {

  .footer {
    margin-block-end: 100px;
  }

  .button__floopy {
    block-size: 80px;
    gap: 8px;
    flex-direction: column;
    padding-block-start: 15px;
  }

  .button__floopy-icon {
    inline-size: 28px;
  } 
}

@keyframes pointer {
  0% {
    translate: -20px;
  }

  100% {
    translate: -16px;
  }
}