/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--main-font-family);
  font-variation-settings: 'wdth' var(--main-wdth);
  background-color: var(--bckg-color);
  color: var(--text-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bckg-image);
  background-size: cover;
  background-attachment: fixed;
}

/* Секция header */

.header {
  font-family: var(--accent-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--header-bckg);
  margin: 100px auto 100px;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  padding-block-start: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
  text-transform: uppercase;
  line-height: 1;
  border: 2px solid var(--border-color);
}

.header__tittle {
  font-size: var(--header-fsz);
  margin-block-end: 20px;
}

.header__subtittle {
  font-size: var(--text-fsz);
  margin-block-end: 25px;
}
/* Секция navigation */

.theme-menu {
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  display: flex;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: relative;
}

.translate-auto {
  translate: -4px;
}

.translate-light {
  translate: 9px;
}

/* animation */

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  position: absolute;
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 2px;
  margin-block-start: 13px;
  background-color: currentColor;
  transition: scale 0.3s ease;
  scale: 0;
} 

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: '▶';
  inline-size: 14px;
  block-size: 14px;
  /* margin-inline-start: -16px; */
  translate: -20px;
  animation: pointer infinite 0.5s ease-in-out alternate;
}

/* Секция main */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.card {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  background-color: var(--header-bckg);
  border: 2px solid var(--border-color);
}

.card__tittle {
  font-size: 18px;
  border-block-end: 2px solid var(--border-color);
  padding: 4px 10px 5px;
  font-weight: var(--accent-wdth);
}

.card__image {
  border-block-end: 2px solid var(--border-color);
  position: relative;
}

.card__label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, -0.0529rem + 3.6923vw, 1.5625rem);
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 1;
  color: var(--text-color);
  mix-blend-mode: hard-light;
}

.label-shadow {
  text-shadow: 0px 0px 1px var(--text-shadow);
  opacity: 0.5;
}

@supports((text-stroke: 1px var(--text-shadow)) or (-webkit-text-stroke: 1px var(--text-shadow))) {
  .label-shadow {
    -webkit-text-stroke: 1px var(--text-shadow);
    text-stroke: 1px var(--text-shadow);
    text-shadow: none;
  }
}

.card__image-car {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.card__description {
  padding: 25px;
  font-size: 18px;
  font-weight: var(--main-wdth);
  line-height: 117%;
}

.card__description p:not(:last-of-type) {
  margin-block-end: 27px;
}

.card__footer {
  margin-block-start: 25px;
  display: flex;
  justify-content: end;
  gap: 7px;
}

.card__icon-button, .card__like-button, .button__floopy, .dialog__button-floopy {
background-color: transparent;
border: none;
cursor: pointer;
}

.card__icon-button {
  padding: 0;
  block-size: 38px;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color);
}

.sparks {
  opacity: 0;
}

.card__like-button {
  position: relative;
  inline-size: 130px;
  block-size: 38px;
  border: 2px solid var(--border-color);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button__text {
  font-size: 14px;
  font-family: var(--accent-font-family);
}

.card__like-button:focus, .button__floopy:focus {
  outline: none;
}

.card__like-button:focus-visible, .button__floopy:focus-visible {
  box-shadow: 2px 2px 0px var(--border-color);
}

.card__like-button::after {
  position: absolute;
  content: '';
  background-color: var(--border-color);
  translate: -100%;
  transition: translate 0.5s ease-in-out;
  inset: 0;
  transform-origin: left;
} 

.card__like-button:hover::after {
  translate: 0;
} 

.button__text {
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
  color: var(--button__text);
}

/* Секция footer */

.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 50px;
  margin-block-end: 103px;
}

.button__floopy {
  position: relative;
  block-size: 55px;
  padding-inline-start: 19px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--bckg-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button__floopy::after {
  position: absolute;
  content: '';
  inset: 0;
  background-color: var(--border-color);
  translate: -100%;
  transition: translate 0.5s ease-in-out;
}

.button__floopy:hover::after {
  translate: 0;
}

.button__floopy-icon {
  inline-size: 21px;
  mix-blend-mode: difference;
  color: var(--button__text);
  z-index: 1;
} 

/* Popup */

.popup {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  background-color: var(--bckg-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  padding: 30px;
}

.popup__container {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
}

.popup-floopy-icon {
  inline-size: 39px;
}

.popup[open]::backdrop {
  background-color: rgba(0 0 0/ 0.8);
}

.dialog__button-floopy {
  border: 2px solid var(--border-color);
  inline-size: 293px;
  padding: 12.5px 132.5px;
}

.sepia-minimum {
  filter: sepia(0.8);
}

.contrast {
  filter: contrast(10);
}

.invert {
  filter: invert(1);
}

.blur {
  filter: blur(10px);
}

.hue-rotate {
  filter: hue-rotate(45deg);
}

.sepia {
  filter: sepia(1);
}

.mix-filter {
  filter: brightness(2) saturate(60%) hue-rotate(60deg) opacity(0.5) sepia(0.3);
}

@media (width <= 375px) {

  .main {
    gap: 49px;
}

  .footer {
    margin-block-start: 52px;
    margin-block-end: 100px;
  }

  .button__floopy {
    block-size: 80px;
    gap: 8px;
    flex-direction: column;
    padding-block-start: 15px;
  }

  .button__floopy-icon {
    inline-size: 28px;
  } 
  
  .popup {
    padding: 30px 42px;
  }

  .dialog__button-floopy {
    border: 2px solid var(--border-color);
    inline-size: 257px;
    padding: 12.5px 114.5px;
  }

  .popup__container {
    inline-size: 257px;
  }
}
